<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="eglipse" sequenceNumber="39">
<locations>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.mwe.core.feature.group" version="1.2.1.v201205080411"/>
<unit id="org.eclipse.emf.mwe.doc.feature.group" version="1.2.1.v201205080411"/>
<unit id="org.eclipse.emf.mwe.sdk.feature.group" version="1.2.1.v201205080411"/>
<unit id="org.eclipse.emf.mwe.ui.feature.group" version="1.2.1.v201205080411"/>
<unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.3.0.v201205081100"/>
<unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="2.3.0.v201205080411"/>
<unit id="org.eclipse.xtend.middleend.xpand.feature.group" version="1.2.1.v201205080442"/>
<unit id="org.eclipse.xpand.support.feature.group" version="1.2.1.v201205080442"/>
<unit id="org.eclipse.xpand.all.feature.group" version="1.2.1.v201205080442"/>
<unit id="org.eclipse.xtend.backend.feature.group" version="1.2.1.v201205080442"/>
<unit id="org.eclipse.xtend.backend.sdk.feature.group" version="1.2.1.v201205080442"/>
<unit id="org.eclipse.xtend.backend.uml2types.feature.group" version="1.2.1.v201205080442"/>
<unit id="org.eclipse.xtend.backend.xsdtypes.feature.group" version="1.2.1.v201205080442"/>
<unit id="org.eclipse.xtend.middleend.xtend.feature.group" version="1.2.1.v201205080442"/>
<unit id="org.eclipse.xpand.feature.group" version="1.2.1.v201205080442"/>
<unit id="org.eclipse.xpand.doc.feature.group" version="1.2.1.v201205080442"/>
<unit id="org.eclipse.xpand.examples.feature.group" version="1.2.1.v201205080442"/>
<unit id="org.eclipse.xpand.incremental.feature.group" version="1.2.1.v201205080442"/>
<unit id="org.eclipse.xpand.sdk.feature.group" version="1.2.1.v201205080442"/>
<unit id="org.eclipse.xpand.ui.feature.group" version="1.2.1.v201205080442"/>
<unit id="org.eclipse.xtend.feature.group" version="1.2.1.v201205080442"/>
<unit id="org.eclipse.xtend.dependencies.feature.group" version="1.2.1.v201205080442"/>
<unit id="org.eclipse.xtend.typesystem.emf.feature.group" version="1.2.1.v201205080442"/>
<unit id="org.eclipse.xtend.ui.feature.group" version="1.2.1.v201205080442"/>
<unit id="org.eclipse.xtend.typesystem.uml2.feature.group" version="1.2.1.v201205080442"/>
<unit id="org.eclipse.xtend.typesystem.xsd.feature.group" version="1.2.1.v201205080442"/>
<unit id="org.eclipse.xtend.m2e.feature.group" version="2.3.0.v201205081025"/>
<unit id="org.eclipse.xtend.sdk.feature.group" version="2.3.0.v201205081025"/>
<unit id="org.eclipse.xtext.xbase.feature.group" version="2.3.0.v201205081025"/>
<unit id="org.eclipse.xtext.docs.feature.group" version="2.3.0.v201205081025"/>
<unit id="org.eclipse.xtext.examples.feature.group" version="2.3.0.v201205081025"/>
<unit id="org.eclipse.xtext.runtime.feature.group" version="2.3.0.v201205081025"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.3.0.v201205081025"/>
<unit id="org.eclipse.xtext.ui.feature.group" version="2.3.0.v201205081025"/>
<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/composite/milestones/"/>
</location>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.feature.group" version="3.7.2.v20120207-1839-9gF7UHPDFxGjd-PqDr2jX_4yKaumkoHTz04_q-q"/>
<unit id="org.eclipse.rcp.source.feature.group" version="3.7.2.v20120120-1424-9DB5FmnFq5JCf1UA38R-kz0S0272"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.7.2.v20120130-0943"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.7.1.R37x_v20110907-7M7W8i8eNV4WsRkue-4Vq4J6pCyW"/>
<unit id="org.eclipse.pde.feature.group" version="3.7.2.v20120120-1420-7b7rFUOFEx2Xnqafnpz0E--0"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.0.1.v201108020636"/>
<unit id="org.eclipse.emf.ecoretools.sdk.feature.group" version="1.0.0.v20110608-1633"/>
<unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.0.1.v201108020809"/>
<unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="2.0.1.v201108020506"/>
<unit id="org.eclipse.emf.mwe.sdk.feature.group" version="1.1.1.v201108020506"/>
<unit id="org.eclipse.xpand.sdk.feature.group" version="1.1.1.v201108020519"/>
<unit id="org.eclipse.jdt.feature.group" version="3.7.2.v20120120-1414-7z8gFcuFMP7BW5XTz0jLTnz0l9B1"/>
<repository location="http://download.eclipse.org/releases/indigo"/>
</location>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.hamcrest.core" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.core.source" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.integration.source" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.generator" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.generator.source" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.integration" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.library" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.library.source" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.text" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.text.source" version="1.1.0.v20090501071000"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20110523182458/repository"/>
</location>
</locations>
<environment>
<os>win32</os>
<ws>win32</ws>
<arch>x86_64</arch>
</environment>
</target>
