<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.caks.at/eglipse/Glsl" 
       class = "at.caks.eglipse.lang.glsl.glsl.GlslPackage"
       genModel = "at/caks/eglipse/lang/glsl/Glsl.genmodel" /> 
	
  </extension>




</plugin>
